/ Footer
%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Location
          %p
            1261 PayPal Office
        .footer-col.col-md-4.pull-right
          %h3
            %a{:href => "/terms.html"} Terms and Conditions
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright &copy; 2015